/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #3b3e41;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #d64b4b;
$bones-blue:		#3b5aaa;
$bones-green:		#4bb448;
$bones-orange:		#fed863;
$bones-carrot:		#e06c3e;
$bones-purple:		#b17dc6;
$blue:              #2980b9;

$tds-blue: #7dd1d6;

$link-color:        darken($tds-blue, 20%);
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$color-sky:			#CDD9EB;
$color-pink:		#EB9E98;
$color-yellow:		#ffe04f;


$bdr-color01: #eee;

$brown: #463c34;
$dark-brown: #76665c;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/


/*********************
FONT SIZE
Vertical Rhythm
*********************/
$base-font-size: 14px;
$base-line-height: 21px;

// 単位をremにする（デフォルトはem）
$rhythm-unit: "rem";
// remだけでなくpxも同時に出力。（デフォルトでtrueなので不要）
$rem-with-px-fallback: true;
