/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.visible-phone {display: none !important;}
.visible-tablet {display: none !important;}
.visible-desktop {display: block !important;}
.hidden-phone {display: block !important;}
.hidden-tablet {display: block !important;}
.hidden-desktop {display: none !important;}
img.visible-phone {display: none !important;}
img.visible-tablet {display: none !important;}
img.visible-desktop {display: inline-block !important;}
img.hidden-phone {display: inline-block !important;}
img.hidden-tablet {display: inline-block !important;}
img.hidden-desktop {display: none !important;}

/*********************
PANEL STYLES
*********************/
	.p-deskN-50 {width: 50%;}
	.p-deskN-55 {width: 55%;}
	.p-deskN-60 {width: 60%;}
	.p-deskN-65 {width: 65%;}
	.p-deskN-70 {width: 70%;}

/*********************
FRONTPAGE STYLES
*********************/
	.topFeaturedPanel {
		.owl-carousel {
			width: 680px;
		}
	}
	.topFeatured-articles {
		margin: 0 0 0 680px;
	}

	#top-point01 {
		padding-bottom: 330px;
		background-size: auto;
	}
/*********************
FRONTPAGE STYLES
*********************/
	.p-deskN-50 {width: 50%;}
	.p-deskN-55 {width: 55%;}
	.p-deskN-60 {width: 60%;}
	.p-deskN-65 {width: 65%;}
	.p-deskN-70 {width: 70%;}