/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
PANEL STYPE
*********************/
	// responsive panel
	.p-desk-50 {width: 50%;}
	.p-desk-55 {width: 55%;}
	.p-desk-60 {width: 60%;}
	.p-desk-65 {width: 65%;}
	.p-desk-70 {width: 70%;}