/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	// font-size: 100%;
	// line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

// htmlタグにrhythm用のベース値を設定する(要Compass)
@include establish-baseline;

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
.bg-dark {
	color: $white;
	a, a:visited {
		color: darken($white, 5%);
		&:hover, &:focus {
			color: $white;
		}
	}
}

/******************************************************************
responsive image
******************************************************************/

img {
	max-width: 100%;
	height: auto;
	// background: url(../images/sample.png) 50% 20% no-repeat;
}
figure {
	text-align: center;
	img {
		margin: 0;
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
	.fa {
		padding-right: .2em;
	}
}

h1, .h1 {
	@include adjust-font-size-to(30px, 2);
	@include rhythm-margins(0);
}

h2, .h2 {
	@include adjust-font-size-to(28px, 2);
	@include rhythm-margins(0, 1);
	font-family: $serif;
	// font-size: 1.75em;
	// line-height: 1.4em;
	// margin-bottom: 0.375em;
}

h3, .h3 {
	@include adjust-font-size-to(24px, 2);
	// font-size: 1.125em;
	@include rhythm-margins(.7, .3);
	font-family: $serif;
}

h4, .h4 {
	@include adjust-font-size-to(20px, 2);
	@include rhythm-margins(1.7, .3);
	// font-size: 1.1em;
	font-weight: normal;
}

h5, .h5 {
	@include adjust-font-size-to(16px, 1);
	@include rhythm-margins(.7, .3);
	font-family: $sans-serif;
	// font-size: 0.846em;
	// line-height: 2.09em;
	// text-transform: uppercase;
	// letter-spacing: 2px;
}
h6 {
	@include adjust-font-size-to(14px, 1);
	// text-transform: uppercase;
	@include rhythm-margins(.5, 0);
	letter-spacing: 2px;
	font-weight: normal;
}
hgroup {
	@include rhythm-margins(0, 2);
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

/*********************
LAYOUT
*********************/
.visible-phone {display: block !important;}
.visible-tablet {display: none !important;}
.visible-desktop {display: none !important;}
.hidden-phone {display: none !important;}
.hidden-tablet {display: block !important;}
.hidden-desktop {display: block !important;}
img.visible-phone {display: inline-block !important;}
img.visible-tablet {display: none !important;}
img.visible-desktop {display: none !important;}
img.hidden-phone {display: none !important;}
img.hidden-tablet {display: inline-block !important;}
img.hidden-desktop {display: inline-block !important;}

#outerClickLayer {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
}

.layout {
	> li {
		list-style: outside none;
		display: block;
		float: left;
	}
}
.horizontal-padding {
	// padding-left: 2%;
	// padding-right: 2%;
}

/******************************************************************
UTILITY
******************************************************************/

.emboss, .emboss-top, .emboss-bottom {
	position: relative;
	overflow: hidden;
	&.emboss-radius {
		&:after, &:before {
			@include border-radius(40%)
		}
	}
}
.emboss:after,
.emboss-top:after,
.emboss:before,
.emboss-bottom:before {
	display: block;
	content: " ";
	z-index: 1;
	width: 100%;
	max-width: 1040px;
	position: absolute;
	left: 0;
	right: 0;
	height: 10px;
	margin: 0 auto;
	@include box-shadow(0 0 4px rgba(0, 0, 0, .4));
}
.emboss, .emboss-top {
	&:after {
		bottom: 100%;
	}
}
.emboss, .emboss-bottom {
	&:before {
		top: 100%;
	}
}
.block-link {
	a {
		display: block;
	}
}
.tCenter, .tRight, .tLeft {
	display: block;
}
.tCenter {
	text-align: center;
}
.tRight {
	text-align: right;
}
.tLeft {
	text-align: left;
}
.spacer {
	@include rhythm-margins(1);
}

.loader {
	position: relative;
	.fa-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		display: none;
		z-index: 2;
		@include adjust-font-size-to(40px, 2);
		margin-left: -20px;
		margin-top: -21px;
	}
}
.loading {
	.fa-spinner {
		display: block;
	}
}
.note {
	@include adjust-font-size-to(12px, 1);
	margin: 0;
}
.entry-content .note {margin: 0;}
.attention {
	color: #DA545F;
}
.fa-fi {
	padding-right: .2em;
}
.sub-section {
	border: 4px solid #eee;
	padding: rhythm(.5);
	@include rhythm-margins(.5);
	h5:first-child,
	p:first-child,
	ul:first-child {
		margin-top: 0;
	}
	p:last-child,
	ul:last-child {
		margin-bottom: 0;
	}
}

.circle {
	display: inline-block;
	width: 100px;
	height: 100px;
	@include border-radius(50%);
	padding-top: 10px;
	margin: 0 .5em;
	border: 5px solid #ccc;
	font-size: 13px;
	line-height: 25px;
	text-align: center;
	background: $gray;
	color: $white;
	strong {
		color: $white;
		font-weight: bold;
		font-size: 40px;
		line-height: 45px;
	}
	&.circle-pink {
		background: $bones-pink;
		border-color: lighten($bones-pink, 15%);
	}
	&.circle-carrot {
		background: $bones-carrot;
		border-color: lighten($bones-carrot, 15%);
	}
}

/*********************
HEADER STYLES
*********************/

.header {
	// background-color: $black;
	background: $white;
	border-top: 3px solid $tds-blue;
}
	.head-branding {
		text-align: center;
	}
		#logo {
			margin: 0;
			a {
				color: $black;
			}
		}
		#discription {
			margin: 0;
		}

	.head-download {
		@include rhythm-margins(.5);
		.btn__blue {
			font-size: 100%;
		}
	}

	.head-contact {
	}
		.phoneNumber {
			@include adjust-font-size-to(26px, 2);
			font-weight: bold;
			display: block;
			.fa {margin-right: .2em;}
		}
	// HEADER NAV
	// -----------
	.head-nav {
		display: none;
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			// color: $white;
			text-decoration: none;
			padding: 0 2em 0 0;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
SIDE MENU
*********************/
#side-menu-trigger {
	position: fixed;
	z-index: 9;
	top: 10px;
	right: rhythm(1);
	display: block;
	@include border-radius(25px);
	border: 1px solid $meta-gray;
	width: 53px;
	text-align: center;
	background: rgba(255, 255, 255, .2);
	@include transition(color .5s linear, background-color .5s linear);
	i {
		color: $meta-gray;
	}
	&:hover {
		background: rgba(255, 255, 255, .9);
		i {
			color: darken($meta-gray, 20%);
		}
	}
	.fa {
		@include adjust-font-size-to(28px, 2.5);
	}
}
#side-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	// width: 80%;
	overflow: hidden;
	height: 100%;
	background: $black;
	display: none;
	border-left: 1px solid lighten($black, 10%);
	&.outer {
		@include box-shadow(0 0 5px rgba(0, 0, 0, .5));
	}

	a {
		display: block;
		text-decoration: none;
		&:hover, &.hover {
			background: darken($black, 5%);
		}
	}
}
	.side-menu-widget {
		border-bottom: 1px solid lighten($black, 10%);
		// border-top: 1px solid darken($black, 10%);
	}
	$sidePaddingHorizon: 2rem;	//サイドメニューの左右の余白
	.side-menu-body {
		// padding: rhythm(2) 2em;
		// min-width: 200px;
		overflow: hidden;
	}
	.sideMenu-buttons {
		position: relative;
		height: 53px;

		a {
			position: absolute;
			top: 0;
			width: 53px;
			text-align: center;
			i {
				@include adjust-font-size-to(30px, 2.5);
			}
		}
	}
		#sideMenu-close {
			left: 0;
		}
		#sideMenu-searchform-trigger {
			right: 0;
		}
	#side-searchform {
		background: darken($black, 5%);
		padding: rhythm(1) $sidePaddingHorizon;
		border-bottom: 1px solid lighten($black, 10%);
		display: none;
		// border-top: 1px solid darken($black, 10%);

		.searchform-body {
			width: 100%;
		}
		.input-container {
			float: left;
			width: 200px;
			input {
				@include box-sizing(border-box);
				margin-bottom: 0;
			}
		}
		.button-container {
			margin-left: 220px;
		}
			#searchsubmit {
				margin: 5px 0;
			}
	}
	.side-menu-body {
		// display: none;
	}
		#menu-side_menu {
			margin: 0;
			li {
				border-bottom: 1px solid lighten($black, 3%);
			}
			a {
				line-height: rhythm(2);
				padding: 0 $sidePaddingHorizon;
				&:before {
					@extend .fa;
					width: 1.7em;
				}
			}
		}
			#menu-item-52 a:before {
				@extend .fa-angellist;
			}
			#menu-item-53 a:before {
				@extend .fa-yen;
			}
			#menu-item-44 a:before {
				@extend .fa-graduation-cap;
			}
			#menu-item-48 a:before {
				@extend .fa-building;
			}
			#menu-item-50 a:before {
				@extend .fa-question;
			}
			#menu-item-51 a:before {
				@extend .fa-users;
			}
			#menu-item-49 a:before {
				@extend .fa-car;
			}
			#menu-item-45 a:before {
				@extend .fa-newspaper-o;
			}
			#menu-item-47 a:before {
				@extend .fa-sitemap;
			}
			#menu-item-57 a:before {
				@extend .fa-envelope;
			}
			#menu-item-170 a:before {
				@extend .fa-book;
			}
			#menu-item-249 a:before {
				@extend .fa-bus;
			}
			#menu-item-266 a:before {
				@extend .fa-home;
			}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
}
	#main {
	}
	#inner-content {
		@include rhythm-padding(3, 0);
	}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			border: 1px solid lighten($border-color, 10%);
			@include rhythm-margins(0, 2);

			&:last-child {
				@include rhythm-margins(0);
			}

			// header {
			// 	// border-bottom: 1px solid $light-gray;
			// 	// padding: 1.5em;
			// 	@include rhythm-padding(1);

			// }
			.entry-header {
				padding: rhythm(1) rhythm(1) rhythm(2);
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			// margin: 0;
			@include rhythm-margins(0);
			a {
				color: $text-color;
			}
		}

		// .page-title,
		// .archive-title {
		// 	padding: rhythm(1) 1em;
		// 	color: $meta-gray;
		// 	// background: $gray;
		// 	// background: url(../images/bg-title-mb.jpg) 50% 50% no-repeat;
		// 	// @include background-size(cover);
		// 	text-align: center;
		// 	@include adjust-font-size-to(25px, 2);
		// }
		// 	.icon-container {
		// 		display: block;
		// 		width: 30%;
		// 		margin: 0 auto;
		// 		@include adjust-font-size-to(36px, 3)
		// 	}

		.single-title {}

		.entry-title {}


		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {

			h5 {
			@include index($color-yellow, $tds-blue);
			}
			hgroup h5 {
				padding-left: 0;
				position: static;
			}
			h6 {
				@include index($bones-blue, $bones-orange);
			}

			// padding: 0 1.5em;
			.section {
				@include rhythm-margins(2);
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				@include rhythm-margins(0, 1);
			}


			ul, ol, table, dl {}

			ul, ol {
				margin-left: 2em;

			}

			ul {
				li {
					list-style: outside circle;
					> ul {
						@include rhythm-margins(0);
					}
					li {
						list-style: outside disc;
					}
				}
			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid darken($gray, 5%);
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid darken($gray, 5%);

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}
			th, td {
				padding: rhythm(.25) .5em;
				ul, p {
					margin-bottom: 0;
				}
			}
			td {
				border-right: 1px solid darken($gray, 5%);
				text-align: left;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: darken($light-gray, 2%);
				border-bottom: 1px solid darken($gray, 5%);
				border-right: 1px solid darken($gray, 5%);
				font-weight: normal;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				margin-bottom: 1.5em;
				@include rhythm-margins(0, 1);
			}

			img {
				margin: 0;
				// max-width: 100%;
				height: auto;
			}
			figure {
				@include rhythm-margins(.5, 1.5);
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {
			@extend .cf;

			dl {
				float: left;

				a {}

				img {}

			}

			dt {}

			dd { display: none;}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

.page-template-default,
.page-template-page-contact,
.blog,
.single,
.archive,
.search {
	.entry-content {
		padding: 0 rhythm(1);
	}
}

/******************************************************************
PANEL STYLE
******************************************************************/
.panel-container {
	position: relative;
	border-top: 1px solid $bdr-color01;
	@include rhythm-padding(3);
	&:first-child {
		border-top: none;
	}
	text-align: center;
	.inner-wrap-relative {
		position: relative;
	}
	height: 100%;

	.panel-body {
		// @include rhythm-padding(1);
	}
	hgroup {

	}
	.panel-sentence {
		p:last-child {
			margin-bottom: 0;
		}
	}
}
.sub-panel-container {
	// @include grid-row-parent;
	h4 {
		line-height: 1;
	}
}
	.sub-panel {
		margin: 0;
		li {
			@include rhythm-padding(1);
			h3, h4, h5, h6 {
				text-align: center;
			}
		}
	}
	.sub-panel-body {
		padding: rhythm(1) 5%;
	}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	// margin: 1.5em 0;
	@include rhythm-margins(2);
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $tds-blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
PLUGIN STYLE
*****************************************************************/
// BUSINESS CALENDAR
$attr00: #adadad;
$attr01: #afdbee;
$attr02: #c5c4f7;
.business-calendar {
	background: #CACACA;
	border-collapse: collapse;
	@include adjust-font-size-to(11px, 1);
	text-align: center;
	width: 100%;
	max-width: 300px;
	margin: 0 auto 5px;

	caption	{
		// border-top: 1px solid #CACACA;
		// border-left: 1px solid #CACACA;
		// border-right: 1px solid #CACACA;
		margin: 5px 0 0;
		padding: 3px;
		text-align: center;
	}

	th {
		background: #ddd; border: 1px solid #CACACA; font-weight: normal; padding: 3px; width:14%;
	}
	td { background: #FFFFFF; border: 1px solid #CACACA; padding: 3px; }

	.before {background: #f0f0f0; color: lighten($text-color, 40%);}
	.today	{ font-weight: bold; color: $bones-pink; background: lighten($bones-pink, 40%);}
	.attr0	{ color: desaturate(darken($attr00, 30%), 10%); background: $attr00; }
	.attr1	{ color: desaturate(darken($attr01, 30%), 10%); background: $attr01; }
	.attr2	{ color: desaturate(darken($attr02, 30%), 10%); background: $attr02; }
	.attr3	{ color: #0000FF; background:#CCCCFF; }
	.attr4	{ color: #CC00CC; background:#FFCCFF; }
}
	.business-calendar-attribute {
		margin: 0 auto 0;
		padding:0;
		max-width: 300px;
		li { padding: 0 10px; border-left: 1.5em solid $bones-pink; text-align: left; padding-left: .5em;
			margin-bottom: 3px;
			@include adjust-font-size-to(12px, 1);
		}
		.attr0 { border-color: $attr00;}
		.attr1 { border-color: $attr01;}
		.attr2 { border-color: $attr02;}
		.attr3 { color: #0000FF; background:#CCCCFF; }
		.attr4 { color: #CC00CC; background:#FFCCFF; }
	}
	.widget .business-calendar-attribute {
		margin:5px auto 0; padding:0;
		li		{
			@include rhythm-padding(0);
		}
	}
	#sidebar .business-calendar-desc { margin: 5px; }
	#tooltip {
		position: absolute; z-index: 3000; border: 1px solid #111;
							  background-color: #eee; padding: 5px;	opacity: 0.85; }
	#tooltip h3, #tooltip div	{ margin: 0; }

	#changeMonth {
		.changeMonth-item {
			text-align: center;
		}
		.hide {
			display: none;
		}
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	@include rhythm-padding(0, 3);
}

	.widgettitle {
		// font-family: $serif;
	}

	.widget {

		ul {
			margin: 0 auto;

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $brown;
	text-align: center;

	address {
		background: darken($brown, 5%);
		@include rhythm-padding(2);
		font-style: normal;
		ul {
			margin: 0;
		}
		.name {
			display: block;
			@include adjust-font-size-to(24px, 1.5);
			margin-bottom: rhythm(1);
		}
		.tel {
			// @include adjust-font-size-to(18px, 1.5)
		}
		.tel-free {
			@include adjust-font-size-to(24px, 2);
		}
	}
}

/*********************
RESERVE TOUR FORM STYLES
*********************/
.form-body {
	border-bottom: 1px dashed #666;
	padding-bottom: rhythm(1);
	margin-bottom: rhythm(1);
}
	// フォームボタン
	#reserveTour {
		@include rhythm-margins(1);
		a {
			@include adjust-font-size-to(20px, 2);
		}
	}
	// フォーム
	#reserveDate {
		width: 10em;
	}
	#reserveHour {
		width: 5em;
	}


// SOCIAL BOOKMARK
.sbm-container {
	border-top: 1px solid lighten($brown, 5%);
	border-bottom: 1px solid lighten($brown, 5%);
	// border-top: 1px solid darken()
}
	.sbm-body {
		margin: 0;
		li {
			@include rhythm-padding(1);
			width: 25%;
			text-align: center;
			span {
				display: block;
			}
			&:hover {
				background: darken($brown, 10%);
			}
		}
		a {
			@include transition(font-size .1s ease-in);
			// -moz-transition-property: background-color;
			// -moz-transition-duration: 1s;
			// -moz-transition-timing-function: linear;
			@include adjust-font-size-to(30px, 2);
			// font-size: 30px;
			// line-height: 42px;
			// background-color: #f00;
			&:hover {
				// background-color: #ff0;
				// font-size: 40px;
				@include adjust-font-size-to(40px, 2)
			}
		}
		.fa {
		}
	}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {
				border-bottom: 1px solid lighten($brown, 5%);
			}

		}
			a {
				display: block;
				line-height: rhythm(2);
				&:hover {
					background-color: darken($brown, 5%);
				}
			}

	} /* end .footer-links */

	.copyright {
	}

/*********************
PLUGINS
*********************/
// 見学申し込みポップアップ
	#privacypolicy .privacypolicy-container {
		height: 200px;
		@include adjust-font-size-to(12px, 1);
		overflow: hidden;
		border: 1px solid $bdr-color01;
		.privacypolicy-body {
			padding: rhythm(1);
		}
	}

.mfp-content {
	#privacypolicy .privacypolicy-container {
		border-color: #333;
		@include transition(all, .2s, linear);

		&:hover {
			background: #111;
			border-color: #777;
		}
	}
	.popup-tel {
		@include adjust-font-size-to(20px, 2);
		font-weight: bold;
	}
}
	.form-side-text {
		@include adjust-font-size-to(14px, 3);
	}

/*********************
JQUERY UI
*********************/
// TOOLTIP
.jqui-tt {
	border-bottom: 1px dotted $black;
	cursor: pointer;
	.fa {
		@include adjust-font-size-to(10px);
		color: #3077c1;
	}
}
// ACCORDION
.jqui-accordion {
	h3 {
	}
}

// ORIGINAL ACCORDION
.accordion-dl {
	dt {
		cursor: pointer;
		position: relative;
		.fa:last-child {
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -10px;
		}
	}
}
.entry-content {
	.btn-group {
		margin: rhythm(1) 0 rhythm(2);
		@include rhythm-padding(1);
		border-top: 1px dotted #ccc;
		border-bottom: 1px dotted #ccc;
		text-align: center;
		li {
			list-style: none;
			display: inline-block;
		}
	}
}

/*********************
FRONTPAGE STYLES
*********************/
.home {
	#main {
		// margin: 0;
	}
}
	.topFeaturedPanel {
		img {
			vertical-align: bottom;
		}
	}

	// 768up.scssに書きたいところだが、@media 内だとextendできないので
	.frontPage-nav-container {
		border-bottom: 1px solid $bdr-color01;
	}
	.frontPage-nav {
		.top-nav {
			a {
				padding: rhythm(1) 0;
				text-align: center;
				color: $dark-brown;
				@include transition(background-color .2s linear);
				&:hover {
					background: lighten($dark-brown, 55%);
					color: darken($dark-brown, 5%);
					text-decoration: none;
					.fa {
						@include adjust-font-size-to(36px, 2);
					}
				}
				.fa {
					@include adjust-font-size-to(24px, 2);
					@include transition(font-size .2s ease);
				}
			}
		}
		// a:before {
		// 	display: block;
		// 	@extend .fa;
		// 	@include adjust-font-size-to(24px, 2);
		// 	@include transition(font-size .2s ease)
		// }
		// a:hover:before {
		// 	@include adjust-font-size-to(36px, 2);
		// }
		// .menu-item-21 a:before {@extend .fa-exclamation;}
		// .menu-item-22 a:before {@extend .fa-yen;}
		// .menu-item-65 a:before {@extend .fa-fast-forward;}
		// .menu-item-26 a:before {@extend .fa-question;}
		// .menu-item-27 a:before {@extend .fa-users;}
	}

	#top-point01 {
		padding-bottom: 40%;
		background: #ede7e2 url(../images/home-image01-mb.jpg) 50% 100% no-repeat;
		background-size: contain;
	}
	#top-groupDiscount {
		border-top: none;
	}

	#top-news_calendar {
		$c: #f2f2f2;
		background: $c;
		.h5 {
			width: 150px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.fa {
			@include adjust-font-size-to(30px, 3);
			color: darken($c, 10%);
		}
		span {
			display: block;
			line-height: rhythm(2);
			border-top: 1px solid darken($c, 10%);
		}
	}
		.calendar-body {
			padding-top: rhythm(3);
		}
